body {
    font-family: Arial, sans-serif;
    background-color: #8C1D40; 
    color: #8C1D40; 
    margin: 0;
    padding: 0;
}

.inventory-container {
    margin: auto;
    width: 80%;
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    background-color: #8C1D40; 
    color: #FFC627; 
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.inventory-table .table-header {
    display: flex;
    justify-content: space-between;
    background-color: #8C1D40; 
    color: #FFC627; 
    padding: 10px;
}



.table-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.table-row:last-child {
    border-bottom: none;
}

.item-image {
    width: 50px; 
    height: auto;
    padding: 10px; 
}

.card-img-top{
    height: 325px;
}

.card-img-top-main {
    height: 800px;
}

.availability {
    color: #2E8B57; 
}

.availability.low {
    color: #FFA500; 
}

.availability.out {
    color: #FF4500; 
}


.header-item, .content-item {
    flex: 1;
    text-align: center;
}



.flex-container{
    display: flex;
}

.col{
    padding: 2px;
}

.card-bottom{
    padding: 2px;
}
